<div class="container" ng-controller="HomeController">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Kursdaten</h3>
			
			
			
		</div>
	</div>
	<div class="panel panel-default" >
		<div class="panel-heading">
			<h3 class="panel-title">Wechselkurs berechnen</h3>
		</div>
		<div class="panel-body">
			<form name="myForm">
				
				 <select class="form-control" name="changeFrom" id="changeFrom" ng-model="data.currency">
			      	<option value="">--- von ---</option> <!-- not selected / blank option -->
			    </select><br>
			 	<select class="form-control" name="changeTo" id="changeTo" ng-model="data.currency">
			      	<option value="">--- in ---</option> <!-- not selected / blank option -->
			    </select><br>
				<input class="form-control" type="text" ng-model="data.value" placeholder="Betrag"><br>
				<input class="form-control" type="button" value="umrechnen">
			</form>
		
		
		</div>
	</div>
</div>

